.MainDivService {
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}
.service-article svg {
  transition: color 0.3s ease;
  color: #0d6efd;
}

.service-article:hover svg {
  color: #cde1f8;
}
